.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  // flex wraps
  &.nowrap { flex-wrap: nowrap; }
  &.wrap-reverse {flex-wrap: wrap-reverse; }

  // flex directions
  &.flex-direction-row-reverse { flex-direction: row-reverse; }
  &.flex-direction-col { flex-direction: column }
  &.flex-direction-col-reverse { flex-direction: column-reverse; }

  // flex justify content
  &.justify-content-initial { justify-content: initial; }
  &.justify-content-inherit { justify-content: inherit; }
  &.justify-content-flex-start { justify-content: flex-start; }
  &.justify-content-flex-end { justify-content: flex-end; }
  &.justify-content-center { justify-content: center; }
  &.justify-content-space-between { justify-content: space-between; }
  &.justify-content-space-around { justify-content: space-around; }
  &.justify-content-space-evenly { justify-content: space-evenly; }

  // flex align-content
  &.align-content-initial { align-content: initial; }
  &.align-content-inherit { align-content: inherit; }
  &.align-content-flex-start { align-content: flex-start; }
  &.align-content-flex-end { align-content: flex-end; }
  &.align-content-center { align-content: center; }
  &.align-content-space-between { align-content: space-between; }
  &.align-content-space-around { align-content: space-around; }
  &.align-content-space-evenly { align-content: space-evenly; }
  &.align-content-stretch { align-content: stretch; }

  // flex align items
  &.align-items-baseline { align-items: baseline; }
  &.align-items-initial { align-items: initial; }
  &.align-items-inherit { align-items: inherit; }
  &.align-items-flex-start { align-items: flex-start; }
  &.align-items-flex-end { align-items: flex-end; }
  &.align-items-center { align-items: center; }
  &.align-items-stretch { align-items: stretch; }
}
