#reviews {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-color);
}

#reviews h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 3rem;
}

#reviews div {
  height: 500px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 30%;
}

#reviews div div {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0.5rem 0.5rem 2rem;
  padding: 0.25rem 1.25rem;
  min-width: 30rem;
  width: 20rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100px;
  height: fit-content;
  max-height: 300px;
  border-radius: 0.25rem;
}

#reviews div div p {
  min-height: 1rem;
  height: fit-content;
  max-height: 200px;
  word-break: break-word;
  overflow-x: auto;
  margin-bottom: 0.2rem;
}

#reviews div div h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: grey;
  font-style: italic;
}

.form-select {
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  appearance: none;
  font-size: 10px;
}

.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 0;
}

.form-select > option {
  padding: 10px 10px;
  color: aqua;
}

#home {
  background: var(--bg-color);
  display: flex;
}

#home > h6 {
  color: var(--accent-color);
}

#home > h1 {
  color: var(--text-color);
}

header {
  width: 100%;
  height: 70px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: var(--bg-color);
  color: var(--text-color);
  overflow: clip;
  white-space: nowrap;
  transition: box-shadow 1000ms ease-in-out;
}

@media screen and (max-width: 900px) {
  header {
    justify-content: space-between;
  }
}
header.open {
  box-shadow: none;
}

.logo {
  letter-spacing: 3px;
}

@media screen and (max-width: 900px) {
  .logo {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    margin-left: 0.5rem;
  }
}
.hamburger {
  list-style: none;
  display: none;
}

@media screen and (max-width: 900px) {
  .hamburger {
    display: inline-block;
    margin-right: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .hamburger {
    margin-right: 0.5rem;
  }
}
.nav {
  display: flex;
  justify-content: flex-end;
  width: 45%;
}

@media screen and (max-width: 900px) {
  .nav {
    position: fixed;
    width: 100%;
    top: -100rem;
    z-index: -1;
    display: block;
    background: var(--bg-color);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    transition: top 700ms ease-in-out;
  }
}
.nav.show {
  top: 3rem;
}

.nav .nav-item {
  list-style: none;
  border-bottom: var(--bg-color) solid 2px;
  border-top: var(--bg-color) solid 2px;
  margin: 0.75rem;
}

@media screen and (max-width: 1200px) {
  .nav .nav-item {
    margin: 0.75rem;
  }
}
@media screen and (max-width: 900px) {
  .nav .nav-item {
    margin-left: 0;
    margin-right: 5rem;
    padding: 0.5rem 3rem;
  }
}
.nav .nav-item:hover {
  transition: border-bottom-color 500ms ease-in-out;
  border-bottom: var(--accent-color) solid 2px;
}

.nav .nav-item.active {
  transition: border-bottom-color 500ms ease-in-out;
  border-bottom: var(--accent-color) solid 2px;
}

.nav .nav-item a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.25rem;
}

.burger {
  font-size: 1.2em;
}

#contact-div {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: var(--bg-color);
  height: 100%;
  padding-bottom: 5rem;
}

#contact-div h1 {
  display: block;
  color: var(--text-color);
  text-align: center;
  font-size: 3rem;
}

#contact-div form {
  display: block;
  min-width: 10rem;
  width: fit-content;
  max-width: 50%;
}

#contact-div form label {
  display: block;
  color: var(--text-color);
  width: 25rem;
  margin: 0;
}

#contact-div form input, #contact-div form textarea {
  display: block;
  width: 25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 0.75rem;
}

#contact-div form input.dark, #contact-div form textarea.dark {
  border: none !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#contact-div form input:is(textarea), #contact-div form textarea:is(textarea) {
  height: 5rem;
}

#contact-div form button {
  border: none;
  color: var(--text-color);
  background-color: var(--accent-color);
  border-radius: 0.375rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 26.5rem;
}

#footer {
  height: 15rem;
  background: var(--bg-color);
}

#projects {
  height: 100vw;
  background-color: var(--bg-color);
}

html,
body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

:root {
  --bg-color: #fff;
  --text-color: #232323;
  --accent-color: blue;
}

.dark {
  --bg-color: #232323;
  --text-color: #ededed;
  --shadow: true;
}

.clickable {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
