@import '_all__';
:root {
  --bg-color: #fff;
  --text-color: #232323;
  --accent-color: blue;

}

.dark {
  --bg-color: #232323;
  --text-color: #ededed;
}

html,
body {
  margin: 0;
  padding: 0;
  //overflow: hidden;
  width: 100vw;
  max-width: 100vw;
  background-color: var(--bg-color);
}

.hidden {
  display: none;
}


.clickable {
  cursor: pointer;
}


//.cover {
//  position: fixed;
//  height: 100%;
//  width: 100%;
//  background: #fff;
//}